{% extends 'blog/base_blog.html' %}

{% block title %}
    {{ category_tv.slug }} - {{ block.super }}
{% endblock %}

{% block content %}
<!-- ------------ TV --------------------- -->
{% for catalog in category_tv.catalog.all %}
{% for category_tv in catalog.tv_catalog.all %}
<a href="{{ category_tv.get_absolute_url }}">
    <p>{{ category_tv.slug }}</p>
</a>
{% endfor %}
    {% for lg in category_tv.lg_tv.all %}
        <p>{{ lg.title }}
        {{ lg.slug }}</p>
    {% endfor %}
    
{% endfor %}
    
<!-- -------------- TV ----------------- -->
    {% for samsung_tv in category_tv.samsung_tv_tv.all %}
            <p>{{ samsung_tv.title }}</p>
    {% endfor %}
    {% for sony in category_tv.sony_tv.all %}
            <p>{{ sony.title }}</p>
    {% endfor %}
    {% for panasonic in category_tv.panasonic_tv.all %}
            <p>{{ panasonic.title }}</p>
    {% endfor %}

{% endblock %}