{% extends 'blog/base_blog.html' %}

{% block title %}
    {{ LG.title }} - {{ block.super }}
{% endblock %}

{% block content %}
    {% for lg_catalog in lg_catalog %}
        <div>
            <a href="(( catalog.get_absolute_url ))">
                <p>{{ catalog.slug }}</p>
            </a>
        </div>
    {% endfor %}
    {% for catalog in lg.lg_tv_catalog.all %}
        <a href="{{ catalog.get_absolute_url }}">
            <p>{{ catalog.slug }}</p>
        </a>
    {% endfor %}
{% endblock %}